*.tar.gz
*~
TAGS
.#*
*#
*.pyc
.project
.pydevproject
.coverage
cover/
.settings/
*.xlsx
!test/comparison/xlsx_files/*.xlsx
dev/docs/build/
.DS_Store
build/
.buildinfo
objects.inv
__pycache__
.tox/
.idea
_*.lua
.cproject

